.conten-prin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

body {
    overflow-x: hidden;
}

/*Registro*/

.contenedor h2 {
    text-transform: uppercase;
    font-size: 1.8rem;
}

.texto {
    padding: 10px 0;
    margin: 0 7rem;
    text-align: center;
    font-size: 1.3rem;
    color: #f0f0f0;
}

.move {
    width: 150px;
    height: 49px;
    background-color: transparent;
    outline: none;
    border: 1px solid #f0f0f0;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    text-align: center;
    line-height: 49px;
    text-decoration: none;
    transition: background-color .4s;
}

.move:hover {
    background-color: rgb(185, 45, 45);
}

.btn:hover {
    background-color: rgb(228, 53, 53);
}

.contenedor {
    height: calc(100vh - 80px);
    background: rgb(167, 32, 32);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 500;
}

.conten-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.filed-message {
    max-width: 380px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80% 20%;
    position: relative;
}

.filed-message .message {
    align-self: flex-end;
}

.filed-message .message span {
    display: none;
}

.filed-message .message .activo {
    display: block;
} 

.input-field {
    max-width: 380px;
    width: 100%;
    height: 55px;
    background: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    padding: 0 .4rem;
    position: relative;
}

.input-field .validate {
    text-align: center;
    line-height: 55px;
    color: rgb(21, 255, 0);
    font-size: 1rem;
    display: none;
}

.input-field .activo {
    display: inline;
}

.input-field .error {
    color: #bb2929;
    display: inline;
    
}

.input-field i {
    color: #acacac;
    text-align: center;
    line-height: 55px;
    font-size: 1.5rem;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.2rem;
    color: #333;
    border-radius: 55px;
}

.input-field input:placeholder-shown {
    color: #aaa;
    font-weight: 500;
}

.btn {
    width: 150px;
    height: 49px;
    outline: none;
    border: none;
    border-radius: 49px;
    background-color: rgb(167, 32, 32);
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: background-color .4s;
}

.btn:hover {
    background-color: rgb(228, 53, 53);
    cursor: pointer;
}

.animacion {
    animation: mover 1s ease-in-out forwards;
}

.aparecer {
    animation: aparecer 1s ease-in-out forwards;
}

@keyframes mover {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes aparecer {
    0% {
        transform: translateX(100%);
    }
    80% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(0);
    }
}


/* Inicio Sesion */

.aparecer-Sesion {
    animation: aparecer-Sesion 1s ease-in-out forwards;
}

@keyframes aparecer-Sesion {
    0% {
        transform: translateX(-100%)
    }
    80% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(0);
    }
}