.container {
    height: 50vh;
    display: flex;
    margin-top: 100px;
    text-align: center;
    align-items: flex-end;
    background: var(--red);
    color: var(--white);
    position: relative;
}

.container::before {
    content: '';
    position: absolute;
    bottom: -100px;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, var(--red), transparent);
    z-index: 1000;
}

.container__text {
    margin: auto;
}

.container__text h2 {
    text-transform: uppercase;
}

.container__text p {
    padding: 30px 100px;
    font-size: 1.2rem;
}

.container__text a {
    padding: 10px 30px;
    border: 1px solid #000;
    border-radius: 6px;
    text-decoration: none;
    color: var(--white);
    transition: box-shadow .3s, border-color .2s;
}

.container__text a:hover {
    box-shadow: 3px 0 30px var(--white);
    border-color: var(--white);
}

.container__img img {
    height: 400px;
    width: 400px;
    margin-right: 30px;
    animation: movimiento 1s none alternate-reverse infinite;
}

@keyframes movimiento {
    0% {
        transform: translatey(2%);
    }
    100% {
        transform: translateY(-1%);
    }
}

.titulo {
    margin-top: 10rem;
    margin-bottom: 3rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Mejores productos */

.mejores {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    min-height: 80vh;
}

.container-mejores {
    position: relative;
}

.container-mejores .caja {
    position: relative;
    width: 320px;
    height: 450px;
    background: rgb(167, 35, 35);
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid var(--red);
}

.container-mejores .caja::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    clip-path: circle(150px at 80% 20%);
    transition: .5s ease-in-out;
}

.container-mejores .caja:hover::before {
    clip-path: circle(300px at 80% -20%);
}

.container-mejores .caja::after {
    content: 'JAMBA';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
}

.container-mejores .caja .imagenCaja {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: .5s;
}

.container-mejores .caja:hover .imagenCaja {
    top: 0%;
    transform: translateY(0%);
}

.container-mejores .caja .imagenCaja img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.container-mejores .caja .contenidoCaja {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.container-mejores .caja:hover .contenidoCaja {
    height: 210px;
}

.container-mejores .caja .contenidoCaja h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--white);
}

.container-mejores .caja .contenidoCaja .size,
.container-mejores .caja .contenidoCaja .precio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}

.container-mejores .caja:hover .contenidoCaja .size {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
}

.container-mejores .caja:hover .contenidoCaja .precio {
    opacity: 1;
    visibility: visible;
    transition-delay: .6s;
}

.container-mejores .caja .contenidoCaja .size h3,
.container-mejores .caja .contenidoCaja .precio h3 {
    color: var(--white);
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 5px;
} 

.container-mejores .caja .contenidoCaja .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: var(--white);
    margin: 0 5px;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
    transition: .5s;
}

.container-mejores .caja .contenidoCaja .size span:hover {
    background: rgb(192, 20, 20);
    border: 1px solid var(--white);
}

.container-mejores .caja .contenidoCaja .precio span {
    width: 20px;
    height: 20px;
    color: var(--white);
    margin: 0 5px;
}

.container-mejores .caja .contenidoCaja a {
    display: inline-block;
    padding: 10px 20px;
    background: var(--white);
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
    transition: .5s;
}

.container-mejores .caja:hover .contenidoCaja a {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}