{% extends 'Header.html' %}
{% block title%} {{ title }} {% endblock %}
{% block style %} <link rel="stylesheet" href="{{ url_for('static', filename='css/styleDashboard.css')}}"> {% endblock %}
{% block contenido %}

    <!-- Main -->
    <div class="main">
        <div class="topbar">
            <div class="toggle">
                <i class="fas fa-bars"></i>
            </div>
            <div class="nameUser">
                <span>{{ g.user.usuario }}</span>
                <div class="user">
                    <img src="{{ url_for('static', filename='images/user.jpg')}}" >
                </div>
            </div>
        </div>

        <!-- cards -->

        <div class="cardBox">
            <div class="card">
                <div>
                    <div class="numbers">1,504</div>
                    <div class="cardName">Visitas</div>
                </div>
                <div class="iconBx">
                    <i class="far fa-eye"></i>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="numbers">80</div>
                    <div class="cardName">Ventas</div>
                </div>
                <div class="iconBx">
                    <i class="fas fa-shopping-cart"></i>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="numbers">284</div>
                    <div class="cardName">Comentarios</div>
                </div>
                <div class="iconBx">
                    <i class="far fa-comments"></i>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="numbers">$7,842</div>
                    <div class="cardName">Ganancias</div>
                </div>
                <div class="iconBx">
                    <i class="fas fa-dollar-sign"></i>
                </div>
            </div>
        </div>

        <div class="details">

            <!-- Order Detail list--> 

            <div class="recentOrders">
                <div class="cardHeader">
                    <h2>Ordenes Recientes</h2>
                    <a href="#" class="btn">Ver Todo</a>
                </div>
                <table>
                    <thead>
                        <tr>
                            <td>Nombre</td>
                            <td>Precio</td>
                            <td>Pago</td>
                            <td>Estado</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Star Refrigerator</td>
                            <td>$1200</td>
                            <td>Paid</td>
                            <td><span class="status delivered">Delivered</span></td>
                        </tr>
                        <tr>
                            <td>Television</td>
                            <td>$2200</td>
                            <td>Due</td>
                            <td><span class="status inprogress">In Progress</span></td>
                        </tr>
                        <tr>
                            <td>Cell Phone</td>
                            <td>$4200</td>
                            <td>Paid</td>
                            <td><span class="status pending">Pending</span></td>
                        </tr>
                        <tr>
                            <td>Play Station</td>
                            <td>$5000</td>
                            <td>Due</td>
                            <td><span class="status return">Return</span></td>
                        </tr>
                        <tr>
                            <td>Xbox</td>
                            <td>$4000</td>
                            <td>Paid</td>
                            <td><span class="status delivered">delivered</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- New Customers -->

            <div class="recentCustomers">
                <div class="cardHeader">
                    <h2>Usuarios Recientes</h2>
                </div>
                <table>
                    {% for item in listaUsuarios %}
                        {% if not item.usuario == "ElPepe" %}
                            <tr>
                                <td width="50px"><div class="imgBx"><img src="{{ url_for('static', filename='images/img1.jpg')}}"></div></td>
                                <td><h4><span>{{ item.usuario }}</span></h4></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>

        </div>

    </div>

{% endblock %}
{% block scripts %}<script src="{{ url_for('static', filename='js/dashboard.js')}}"></script> {% endblock %}