<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logoRestaurant.png')}}">
    {% block style %} {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleHeader.css')}}">
    <script src="https://kit.fontawesome.com/f9185ec6ba.js" crossorigin="anonymous"></script>
    <title> {% block title %} {% endblock %} </title>
</head>
<body>
    {% if not g.user.usuario == "ElPepe" %}
        <header>
            <nav class="nav">
                <div class="nav__logo">
                    <a href="{{ url_for('Inicio')}}" class="nav__logo-a">
                        <img src="{{ url_for('static', filename='images/logoRestaurant.png')}}" alt="Logo">
                        <h3 class="nav__logo-titulo">Jamba Juice</h3>
                    </a>
                </div>
                <ul class="nav__ul">
                    {% if not g.user %}
                        <li class="nav__li">
                            <i class="fas fa-user-friends"></i>
                            <a href="#" class="enlaces">Sobre Nosotros
                                <span class="linea"></span>
                            </a>
                        </li>
                        <li class="nav__li">
                            <i class="fas fa-address-book"></i>
                            <a href="#" class="enlaces">Contactanos
                                <span class="linea"></span>
                            </a>
                        </li>                                               
                        <li class="nav__li">
                            <i class="fas fa-user-plus"></i>
                            <a href="{{ url_for('registro')}}" class="enlaces">Registrate
                                <span class="linea"></span>
                            </a>
                        </li>
                        <li class="nav__li">
                            <i class="fas fa-sign-in-alt"></i>
                            <a href="{{ url_for('login')}}" class="enlaces">Inicia Sesion
                                <span class="linea"></span>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav__li">
                            <i class="fas fa-glass-martini"></i>
                            <a href="{{ url_for('jugos')}}" class="enlaces">Ver Jugos
                                <span class="linea"></span>
                            </a>
                        </li>
                        <li class="nav__li sesion">
                            <a href="#"> 
                                {{ g.user.usuario }}
                                <i class="fas fa-user-circle"></i>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">Perfil</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('listaDeseados')}}">Lista de deseos</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('logout')}}">Salir</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
    {% else %}
        <div class="navegation">
            <ul>
                <li>
                    <a href="#" class="enlaces2">
                        <span class="icon"><i class="fas fa-mug-hot"></i></span>
                        <span class="title">Jamba Juice</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('dashboard')}}" class="enlaces2">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('editarUsuarios')}}" class="enlaces2">
                        <span class="icon"><i class="fas fa-users"></i></span>
                        <span class="title">Usuarios</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="enlaces2"> 
                        <span class="icon"><i class="far fa-comment"></i></span>
                        <span class="title">Mensajes</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('crearJugo')}}" class="enlaces2">
                        <span class="icon"><i class="fas fa-plus"></i></span>
                        <span class="title">Crear Jugo</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="enlaces2">
                        <span class="icon"><i class="fas fa-question"></i></span>
                        <span class="title">Ayuda</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('logout')}}" class="enlaces2">
                        <span class="icon"><i class="fas fa-sign-in-alt"></i></span>
                        <span class="title">Salir</span>
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}
    {% block contenido %}
    {% endblock %}
    {% block scripts %} {% endblock %}
    <script src="{{ url_for('static', filename='js/animaciones.js')}}"></script>
</body>
</html>