{% extends 'Header.html' %}
{% block contenido %}
<main>
    <div class="container">
        <div class="container__text">
            <h2>¿Que vas a encontar aqui?</h2>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque esse placeat explicabo. Sint voluptatibus provident consequuntur adipisci culpa dolor, ratione facilis accusantium autem nulla nihil officia labore, iure veniam alias.
            </p>
            <a href="{{ url_for('registro')}}">Unete</a>
        </div>
        <div class="container__img">
            <img src="{{ url_for('static', filename='images/bebida3.png')}}" alt="">
        </div>
    </div>
    <h2 class="titulo">Los mejores jugos del momento</h2>
    <div class="mejores">
        <div class="container-mejores">
            <div class="caja">
                <div class="imagenCaja">
                    <img src="{{ url_for('static', filename='images/bebida.png')}}" alt="">
                </div>
                <div class="contenidoCaja">
                    <h2>Jamba Juice</h2>
                    <div class="size">
                        <h3>Tamaño(oz) :</h3>
                        <span>8</span>
                        <span>12</span>
                        <span>16</span>
                        <span>20</span>
                    </div>
                    <div class="precio">
                        <h3>Precio :</h3>
                        <span>2.000</span>
                    </div>
                    <a href="#">Comprar</a>
                </div>
            </div>
        </div>
        <div class="container-mejores">
            <div class="caja">
                <div class="imagenCaja">
                    <img src="{{ url_for('static', filename='images/bebida2.png')}}" alt="">
                </div>
                <div class="contenidoCaja">
                    <h2>Jamba Juice</h2>
                    <div class="size">
                        <h3>Tamaño(oz) :</h3>
                        <span>8</span>
                        <span>12</span>
                        <span>16</span>
                        <span>20</span>
                    </div>
                    <div class="precio">
                        <h3>Precio :</h3>
                        <span>2.000</span>
                    </div>
                    <a href="#">Comprar</a>
                </div>
            </div>
        </div>
        <div class="container-mejores">
            <div class="caja">
                <div class="imagenCaja">
                    <img src="{{ url_for('static', filename='images/bebida4.png')}}" alt="">
                </div>
                <div class="contenidoCaja">
                    <h2>Jamba Juice</h2>
                    <div class="size">
                        <h3>Tamaño(oz) :</h3>
                        <span>8</span>
                        <span>12</span>
                        <span>16</span>
                        <span>20</span>
                    </div>
                    <div class="precio">
                        <h3>Precio :</h3>
                        <span>2.000</span>
                    </div>
                    <a href="#">Comprar</a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}