{% extends 'Header.html' %}
{% block title %} {{ title }} {% endblock %}
{% block style %} <link rel="stylesheet" href="{{ url_for('static', filename='css/styleRegistro.css')}}"> {% endblock %}
{% block contenido %}
<div class="conten-prin">
    <div class="conten-form aparecer-Sesion">
        <form action="{{ url_for('login')}}" method="POST" class="formulario">
            {{ form.hidden_tag() }}
            <h2 class="title">Inicia Sesion</h2>
            <div class="input-field">
                <i class="fas fa-user-circle"></i>
                {{ form.usuario(placeholder="Nombre de usuario")}}
            </div>
            <div class="input-field">
                <i class="fas fa-lock"></i>
                {{ form.contrasena(placeholder="Contraseña")}}
            </div>
            {{ form.enviar(class="btn solid")}}
            {% if mensaje %}
                <h3 class="err-user">{{ mensaje }}</h3>
            {% endif %}
        </form>
    </div>
    <div class="contenedor animacion">
        <h2>¿No tienes cuenta?</h2>
        <a href="{{ url_for('registro')}}" class="move">Crea cuenta</a>
    </div>
</div>
{% endblock %}