{% extends 'Header.html' %}
{% block contenido %}
<div class="conten-prin">
    <div class="contenedor animacion">
        <h2>¿Ya tienes una cuenta?</h2>
        <input type="submit" value="Inicia Sesion" class="move">
    </div>
    <div class="conten-form aparecer">
        {% if exito %}
            <h2 class="title">{{ exito }}</h2>
        {% else %}    
            <form action="{{ url_for('registro')}}" method="POST" class="formulario">
                {{ form.hidden_tag() }}
                <h2 class="title">Sign in</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    {{ form.nombre(placeholder="Ingresa tu nombre")}}
                </div>
                <div class="input-field">
                    <i class="fas fa-user-circle"></i>
                    {{ form.correo(placeholder="Ingresa tu correo")}}
                </div>
                <div class="input-field">
                    <i class="fas fa-user-circle"></i>
                    {{ form.usuario(placeholder="Nombre de usuario")}}
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    {{ form.contrasena(placeholder="Contraseña")}}
                </div>
                {{ form.enviar(class="btn solid")}}
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}